* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #333;
  min-height: 100vh;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 132rem;
  padding: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  font-size: 3.2rem;
  font-weight: 700;
}

.nav__login:link,
.nav__login:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  background-color: #ddd;
  border-radius: 5px;
}

.nav__login:hover {
  background-color: #eee;
}

.nav__login:active {
  background-color: #aaa;
  color: #fff;
}

.main__info {
  margin-top: 6.4rem;
}

.main__info > p:first-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.main__info > p:last-child {
  font-size: 2.4rem;
}

.main__books {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-template-rows: min-content; */
  justify-content: center;
  gap: 1.5rem;
}

.card {
  /* background-color: #aaa; */
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 15px;
}

.card > h2 {
  font-size: 1.8rem;
}

.card > p {
  font-size: 1.4rem;
}

.card:first-child {
  border: 1px dashed #333;
  display: flex;
  font-size: 3.2rem;
  justify-content: center;
  align-items: center;
}

.card:first-child:hover {
  background-color: #eee;
  cursor: pointer;
}

.card:first-child:active {
  background-color: #aaa;
}

.card:first-child > .add {
  user-select: none;
}

/* MODAL */

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
}

/* FORMS */

input[type="text"],
input[type="number"],
textarea,
select,
button {
  width: 20rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.2rem;
}

input[type="text"],
input[type="number"],
button[type="submit"] {
  border: 1px solid #333;
  border-radius: 0.5rem;
}

input[type="text"],
input[type="number"] {
  font-size: 1.4rem;
  padding: 2px;
}

.form {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.form__ul {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 0.8rem;
}

form > h2 {
  padding-bottom: 0.4rem;
}

button[type="submit"] {
  margin-top: 1.6rem;
  font-size: inherit;
  padding: 0.8rem 0;
}

button[type="submit"]:hover {
  background-color: #eee;
  cursor: pointer;
}

button[type="submit"]:active {
  background-color: #aaa;
}

.checkbox-li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
}

aside {
  display: flex;
  justify-content: center;
}

form {
  margin: 0 auto;
  font-family: inherit;
}

ul {
  list-style-type: none;
}
